:root {
  /* --color-text: #dddddd;
  --color-text-dark: #979797;
  --color-border: #006699;
  --color-background: #001e33;
  --color-background-dark: #010c15;
  --color-background-darker: #000910;
  --color-input-background: #888888; */
  --color-text: #EEEEEE;
  --color-text-dark: #999999;
  --color-primary: #222831;
  --color-primary-dark: #0e1114;
  --color-secondary: #393E46;
  --color-accent: #00ADB5;

  --color-error: #ff3344;
  --color-warn: #ffaa44;
  --color-success: #33ffaa;

  --ui-radius: 0.2rem;

  --z-index-tab: 100;
  --z-index-popup: 200;
  --z-index-tooltip: 300;

  --content-width: 50em;
  --content-height: 28em;
}

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  color: var(--color-text);
  font-family: 'Barlow Semi Condensed', sans-serif;
  letter-spacing: 0.05em;
  background-color: var(--color-primary-dark);
  background-position: center;
  background-size: cover;
}

input[type="text"] {
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  background-color: var(--color-secondary);
  border: 0.15em solid var(--color-primary-dark);
  padding: 0.3em;
  transition: border-color 100ms;
}

input[type="text"]:hover,
input[type="text"]:focus {
  border-color: var(--color-accent);
  /* box-shadow: 0 0 0.3em var(--color-accent) inset; */
}


input[type="text"],
.classic-box {
  border-radius: var(--ui-radius);
  /* box-shadow: 0 0.15em 0.3em #000000; */
  color: var(--color-text);
}


.global-button {
  background-color: var(--color-secondary);
  border-radius: var(--ui-radius);
  border: none;
  border-radius: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  color: inherit;
}


.classic-box {
  background-color: var(--color-primary);
}

.global-disabled {
  /* opacity: 0.5em; */
  filter: brightness(0.3);
  -webkit-filter: brightness(0.3);
  box-shadow: unset !important;
}

.global-darkscreen {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000aa;
}

.global-blur-sublings ~ * {
  filter: blur(0.5em);
  -webkit-filter: blur(0.5em);
}


.text-outline {
  text-shadow:
     0.08em  0.08em 0.1em #000000,
    -0.08em  0.08em 0.1em #000000,
     0.08em -0.08em 0.1em #000000,
    -0.08em -0.08em 0.1em #000000;
}


#app {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


.spinner {
  position: relative;
  width: 1.2em;
  height: 1.2em;
  fill: var(--color-text);
  stroke: var(--color-text);
  animation: spin linear 3s infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}




/* Selection */
/* ::-moz-selection {
  color: var(--color-primary-light);
  background: #051020;
  text-shadow: none;
}
::selection {
  color: var(--color-primary-light);
  background: #051020;
  text-shadow: none;
} */


/* Scrollbar */
::-webkit-scrollbar {
  width: 0.5em;
  border-radius: var(--ui-radius);
}
::-webkit-scrollbar-track {
  background-color: var(--color-background-dark);
}
::-webkit-scrollbar-thumb {
  border-radius: var(--ui-radius);
  background-color: var(--color-text);
}



@media (orientation: portrait) {
  :root {
    --content-width: 28em;
    --content-height: 50em;
  }
}

@media (max-width: 400px), (max-height: 400px) {
  body {
    font-size: 90%;
  }
}
